@width:400px;
@height:300px;
@font_size:12px;

// adbcdefg
/*
 * askldjasdjaklsdjalksdjalksdjlasd
 */

textarea {
  width:@width;
  height:@height;
  font-size:@font_size;
  @font_size:12px;

  .a{
    font-size:@font_size;

    .c{
      font-size:@font_size;
    }
  }

  .b{
    font-size:@font_size;
  }
}


a{
  font-size:@font_size;

  .c{
    font-size:@font_size;
  }
}